.App {
  text-align: center;
  padding: 2rem;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header h1 {
  font-size: 3.2rem;
  margin-top: 0.8rem;
  margin-bottom: 2.2rem;
  background: -webkit-linear-gradient(#14ac49, #2af571);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-playlist {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.spotify-login {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: #ffffff;
  width: 30%;
  border-radius: 10px;
}

.spotify-login a {
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotify-login img {
  width: 1.5rem;
  margin-left: 10px;
}

.app-user-details {
  margin-bottom: 1.3rem;
}

.app-user-details h2 {
  margin-bottom: 10px;
}

.app-logout {
  width: 80%;
  height: 30px;
  text-align: center;
  background-color: #e94242;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

.app-logout:hover{
  background-color: #d62929;
}